extends ./layouts/commoncss

block content
    body
      i Hi Vinh <3!!!! This page is only for data management
      h1 List of users:
      ul
                  each user in users1
                      li
                          span=user.name +' '
                          a(href="/users/"+ user.id) View 
                          span / 
                          a(href="/users/edit/" + user.id ) Edit this user's information
      p
        span Go to the homepage:
        a(href='../') Let's go
      //- case friends
      //-   when 0
      //-     p you have no friends
      //-   when 1
      //-     p you have #{friends} friend nguoi ten #{name} va #{age} tuoi
      //-   default
      //-     p you have #{friends} friends 
      //- p #{a[1]}