extends ../layouts/commoncss


block content
    head
        style
            //- include ./css/animation.css
            include ./css/viewuser.css
    body
        div(class="banner")
                h1(class="banner-head") Your profile
        -var s=["Math", "Japanese", "English"]
        div(class="information pure-g")
                div
                    div(class="alert alert-primary" )
                        p
                            div
                                b(class="badge badge-primary") Name 
                                span="   "+ user.name
                                p
                            div
                                b(class="badge badge-secondary")="Age     "
                                span= "    "+user. age
                                p
                            div 
                                b(class="badge badge-danger") Your ID
                                span= " "+ user.id
            
                        div 
                            b( class="badge badge-warning") Your favorite subjects:
                            ul
                                
                                if user.subject.length>0
                                    each val in user.subject
                                        li= s[val-1]
                        p
                            b You have visited this site: 
                            span #{user.num_visited} times
                    p
                    p
        if user.partner==null
            div(class="information pure-g")
                    button(type="button", class="alert alert-info", id="po")  "Potential" partners
                        span(class="badge badge-light") #{found_num} 
                    ol
                        each i in users
                            div(class="alert alert-warning",id="background_female")
                                li 
                                    p
                                        span(class="badge badge-primary",id="name")=i.name 
                                    
                                        span(id="male") &#9794;
                                    if i.age!=NULL
                                        p(class="badge badge-secondary")  #{i.age} years old
                                    p
                                        if i.hobbies!=NULL
                                            span(class="badge badge-light",class="hobbies")  Hobbies:
                                            span &nbsp #{i.hobbies} 
                                    //- p Both of you share the common interest in: 
                                    //- ul
                                    //-     span 
                                    //-         each j in i.subject
                                    //-             each k in user.subject
                                    //-                 if j==k
                                    //-                     li(class="badge badge-warning")=s[j-1]
                                    //-                     span &nbsp &nbsp
                                    p
                                        form(action="/users/match/"+user.id+'-'+i.id, method="get") 
                                            b Want to become a twosome with #{i.name}? &nbsp
                                            button(class="btn btn-primary") Pair
                    p
                        form(action="/users/automatch/"+user.id, method="get") 
                            b Base on your score, let us help you find the most suitable partner for you: &nbsp
                            button(class="btn btn-primary") Auto-match
        else 
            
            div(class="information pure-g")
                    button(type="button", class="alert alert-info", id="po") Your partner
                        
                    hr
                    div(class="alert alert-success")               
                        p(class="badge badge-primary",id="name")=partner.name
                        p
                        if partner.age!=NULL
                            p(class="badge badge-secondary")  #{partner.age} years old
                        p Both of you share the common interest in: 
                        ul
                            span 
                                each j in partner.subject
                                    each k in user.subject
                                        if j==k
                                            li(class="badge badge-warning")=s[j-1]
                                        span &nbsp &nbsp
        
        a(href="/users") Go to Homepage
                


                