extends ../layouts/commoncss


block content
    head
        style
            //- include ./css/animation.css
            include ./css/viewuser.css
    body
        div(class="banner")
                h1(class="banner-head") Your profile
        -var s=["Math", "Japanese", "English"]
        //- div=afterchanging
        
        div(class="information pure-g")
                div
                    div(class="alert alert-primary" )
                        p
                            div
                                b(class="badge badge-primary") Name 
                                span="   "+ user.name
                                p
                            div
                                b(class="badge badge-secondary")="Age     "
                                span= "    "+user. age
                                p
                            div 
                                b(class="badge badge-danger") Your ID
                                span= " "+ user.id
            
                        div 
                            b( class="badge badge-warning") Your favorite subjects:
                            ul
                                
                                if user.subject.length>0
                                    each val in user.subject
                                        li= s[val-1]
                        p
                            div
                                b(class="badge badge-primary",class="hobbies") Your hobbies
                                span="   "+ user.hobbies
                                p
                        p
                            b You have visited this site: 
                            span #{user.num_visited} times
                    p
                    p
        if user.partner==null
            div(class="information pure-g")
                    button(type="button", class="alert alert-info", id="po")  "Potential" partners
                        span(class="badge badge-light") #{found_num} 
                    ol
                        each i in users
                            //- p="background_"+i.gender
                            div(class="alert alert-warning",id="background_"+i.gender)
                                li 
                                    p
                                        span(class="badge badge-primary",id="name")=i.name 
                                        if i.gender=="male"
                                            span(id="gender") &#9794;
                                        else 
                                            span(id="gender") &#9792;
                                    if i.age!=NULL
                                        p(class="badge badge-secondary")  #{i.age} years old
                                    p
                                        if i.hobbies!=NULL
                                            span(class="badge badge-light",class="hobbies")  Hobbies:
                                            span &nbsp #{i.hobbies} 
                                    //- p Both of you share the common interest in: 
                                    //- ul
                                    //-     span 
                                    //-         each j in i.subject
                                    //-             each k in user.subject
                                    //-                 if j==k
                                    //-                     li(class="badge badge-warning")=s[j-1]
                                    //-                     span &nbsp &nbsp
                                    p
                                        form(action="/users/match/"+user.id+'-'+i.id, method="get") 
                                            b Want to become a twosome with #{i.name}? &nbsp
                                            button(class="btn btn-primary",class="pair") Pair
                    if found_num!=0&&user.score!=null&&user.score!=0
                        p
                            form(action="/users/automatch/"+user.id, method="get") 
                                b Base on your provided score, let us help you find the most suitable partner for you: &nbsp
                                button(class="btn btn-primary") Auto-match
                    if found_num==0
                        div(class="alert alert-warning")
                            p At this moment, we cannot find anybody appropriate :< Please keep your ID for later use!
                        
                    
        else 
            
            div(class="information pure-g")
                    button(type="button", class="alert alert-info", id="po") Your partner
                        
                    hr
                    div(class="alert alert-success",id="background_"+partner.gender)               
                        p(class="badge badge-primary",id="name")=partner.name
                        p
                        if partner.age!=NULL
                            p(class="badge badge-secondary")  #{partner.age} years old
                            
                        p
                            span Both of you share the common interest in: 
                            span(class="badge badge-warning")=s[partner.subject-1]
                        p
                                        if partner.hobbies!=NULL
                                            span(class="badge badge-light",class="hobbies")  Hobbies
                                            span &nbsp #{partner.hobbies} 
                    div(class="alert alert-success",id="guide")
                        p
                            span="Let's meet the each other on "
                            each val, key in {'M': 'Monday', 'T':'Tuesday', 'W':'Wednesday', 'Th':'Thursday','F':'Friday','S':'Saturday'}
                                if key==user.freeTimeD
                                    span=   val
                            span=" "
                            //- -var end=user.freeTime+2
                            span=user.freeTime+":00 -> "+end+ ":00"
                        p
                            span="You can contact him/her by: "
                            span= partner.contact
                        p
                            
        if afterchanging==1
            script(type="text/javascript").
                alert("Successfully changed!!!"); 
        a(href="/users") Go to Homepage
                


                